body {
  font-family: 'Arial', sans-serif;

  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.inventory {
  padding: 20px;
}

.inventory-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.inventory-header h1 {
  font-size: 2rem;
  font-weight: bold;
}

.ingredient-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.ingredient-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%; 
  max-width: 200px; 
  margin: 0 auto;
  height: 150px;
  flex-direction: column;
  justify-content: space-between;
}

.ingredient-image {
  width: 100%;
  height: 80px;
}

.ingredient-info {
  padding: 10px;
}

.ingredient-info h2 {
  font-size: 0.9em; /* Adjust the font size to make it smaller */
  margin: 5px 0;
}

.ingredient-quantity {
  color: #6b8e23;
  font-weight: bold;
}

.product-location {
  color: #888;
}