.detailbtn{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    color: var(--primary-white);
    background-color: #6b8e23;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }