/* imported font */
@import url("https://fonts.google.com/share?selection.family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900|Quicksand:wght@300..700");

:root {
  --primary-pink: #fff3f0;
  --primary-white: #f2f2f2;
  --primary-orange: #fe5722;
  --primary-blue: #272d36;

  --app-mx-width: min(97vw, 1224px);
}

/* Universal styling */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

button {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  color: var(--primary-white);
  background-color: #fe5722;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

input {
  border: none;
}

h4 {
  font-family: Arial, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 0;
}

input:focus,
textarea:focus {
  outline: none;
}

img {
  max-width: 97vw;
}

body {
  width: 100vw;
  color: #272d36;
  font-family: Arial, sans-serif;
  height: fit-content;
}

.content {
  padding-top: 80px; /* Adjust this value based on the height of your navbar */
}